:root {
    --btn-background: #FF0000;
    --text-color: #ffffff;
    --btn-background-hover: #CC0000;
    --divider-row: #515c6f;
    --accordion-background: #303030; 
    --black: #000000;
    --footer-text: #808080;
    --growdev-orange: #ff7200;
}

#initial-content {
    background-image: url(../assets/images/banner-initial.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#logo {
    width: 120px;
    height: 30px;
}

#header {
    min-height: 720px;
}

.text-shadow {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

.btn-home{
    padding: 10px 20px;
}

.btn-red {
    background-color: var(--btn-background);
    color: var(--text-color);
    padding: 20px 30px;
}

.btn-red:hover{
    background-color: var(--btn-background-hover);
    color: var(--text-color);
}

.divider-row {
  border-bottom: 3px solid var(--divider-row);
}

.accordion-button {
    background-color: var(--accordion-background);
    color: var(--text-color);
    padding: 25px;
    margin: 2px;
}

.accordion,
.accordion-item,
.accordion-button {
    border: none !important;
    margin: 5px 0;
}

.accordion-button::after {
    display: none;
}

.accordion-button .custom-toggle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.custom-toggle img {
    width: 20px;
    height: auto;
    transition: transform 0.3s ease;
}

.accordion-button:not(.collapsed) {
    background-color: var(--accordion-background);
    color: var(--text-color);
}

.accordion-button:not(.collapsed) .custom-icon {
    transform: rotate(180deg);
}

#footer {
    color: var(--footer-text);
}

.list-group-item {
    background-color: transparent;
    border: none;
    padding-left: 0;
}

.list-group-item a{
    text-decoration: none;
    color: var(--footer-text);
}

.header-content {
    align-items: flex-end;
    min-height: 680px;
}

.card {
    background-color: var(--black);
    transition: all 0.3s ease-out;
    position: relative;
    z-index: 0;
}

.card:hover{
    transform: scale(1.1);
    z-index: 10;
    margin-top: -20px;
    position: absolute;
    width: 350px;
    padding-bottom: 20px;
    .card-body{
        display: block;
    }
}

.card-body{
    display: none;
}

.link-card {
    font-size: 18px;
    cursor: pointer;
}

.icon-video {
    padding: 6px 5px 10px 0px;
}

.category-hover a{
    color: var(--text-color);
    text-decoration: none;
}

.category-hover a:hover {
    color: var(--growdev-orange);
}

.modal-header {
    align-items: flex-end;
    border: none;
    padding: 16px;
}

.modal-body {
    padding: 0px;
    width: 100%;
}

.modal-custom {
    background: transparent;
}

.close-icon {
    font-size: 30px;
}