:root {
    --btn-background: #FF0000;
    --text-color: #ffffff;
    --btn-background-hover: #CC0000;
    --divider-row: #515c6f;
    --accordion-background: #303030; 
    --black: #000000;
    --footer-text: #808080;
}

#initial-content {
    background-image: url(../assets/images/banner-initial.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#logo {
    width: 120px;
    height: 30px;
}

.btn-red {
    background-color: var(--btn-background);
    color: var(--text-color);
    padding: 20px 30px;
}

.btn-red:hover{
    background-color: var(--btn-background-hover);
    color: var(--text-color);
}

.divider-row {
  border-bottom: 3px solid var(--divider-row);
}

.accordion-button {
    background-color: var(--accordion-background);
    color: var(--text-color);
    padding: 25px;
    margin: 2px;
}

.accordion,
.accordion-item,
.accordion-button {
    border: none !important;
    margin: 5px 0;
}

.accordion-button::after {
    display: none;
}

.accordion-button .custom-toggle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.custom-toggle img {
    width: 20px;
    height: auto;
    transition: transform 0.3s ease;
}

.accordion-button:not(.collapsed) {
    background-color: var(--accordion-background);
    color: var(--text-color);
}

.accordion-button:not(.collapsed) .custom-icon {
    transform: rotate(180deg);
}

#footer {
    color: var(--footer-text);
}

.list-group-item {
    background-color: transparent;
    border: none;
    padding-left: 0;
}

.list-group-item a{
    text-decoration: none;
    color: var(--footer-text);
}